$info: #007BFF;
// $primary: #FCFAF2;


div.has-text-centered {
	max-width: 450px;
}

.image.rent-logo {
	margin: 3rem;
	img {
		max-height: 200px;
	}
}


// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import "~bulma/sass/utilities/initial-variables.sass";