$info: #007BFF;
// $primary: #FCFAF2;

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import '~bulma-divider';
@import "~bulma/sass/utilities/initial-variables.sass";

.image.rent-logo {
	margin: 1rem 0 1.5rem 0;
	img {
		max-height: 160px;
	}
}

// Bulma Overrides:

.modal-card-head {
	padding: 12px;
}

.container {
	max-width: 550px;
	p, ul, ol {
		margin-bottom: 1rem;
	}
	li p {
		margin-bottom: 0.5rem;
	}
}

.is-divider {
	margin: 4rem 0;
}